.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 180px;
  @media (max-width: $desctop) {
    padding-bottom: 70px;
  }
  @media (max-width: $mobile) {
    padding-bottom: 60px;
  }
  @media (max-width: $mini) {
    padding-bottom: 50px;
  }
}

.layout__container {
  width: 100%;
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: $desctop) {
    max-width: 1240px;
    padding: 0 60px;
  }
  @media (max-width: $tablet) {
    padding: 0 40px;
  }
  @media (max-width: $mobile) {
    padding: 0 30px;
  }
}

.layout__header {
  max-width: 1400px;
  @media (max-width: $desctop) {
    max-width: 891px;
  }
  @media (max-width: $tablet) {
    max-width: 622px;
  }
}
.layout__main {
  padding-top: 180px;
  padding-bottom: 180px;
  margin-bottom: auto;
  @media (max-width: $desctop) {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  @media (max-width: $tablet) {
    padding-top: 48px;
    padding-bottom: 76px;
  }
  @media (max-width: $mobile) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @media (max-width: $mini) {
    padding-top: 32px;
    padding-bottom: 48px;
  }
}
