$primary: #79cbc5;
$accent: #e96a53;
$white: #ffffff;
$bg-white: #f9fafb;
$light-gray: #f4f5f6;
$gray: #e5e5e5;
$text-light: #c4c4c4;
$text: #7b818c;
$text-dark: #263751;
// breakpoints
$desctop: 1252px;
$tablet: 765px;
$mobile: 582px;
$mini: 420px;
